In [1]:
# encapculation
# variable , method, ==> binding
# class
# to define the acccesibility
# access modifier => public , private, protected, default

In [3]:
# public => public to all , can be access everywhere
# private => only use in same class
# protected => only inherited class can use it , Suggests internal use or by subclasses
# default => within the package ,Hidden from outside, name mangled

In [15]:
class ABC:
    x=10

In [14]:
class regex1:
    print(ABC.x)

10

In [16]:
class ABC:
    _y=20
    __salary=300

In [23]:
a1=ABC()
# a1.__salary show error can not access

In [21]:
a1._ABC__salary

300

In [24]:
class regex1:
    print(a1._ABC__salary)

300

In [25]:
class company:
    name='regex'
    def salary(self):
        print("salary is 10000")

In [30]:
class employee(company):
    def info(self):
        print("employee name is aman")

In [34]:
e1=employee()
e1.info()
e1.name

employee name is aman

'regex'

In [35]:
# ABC => abstract base class
from abc impoer ABC, abstractmethod
class company(ABC):
    name='regex'

    @abstractmethod
    def salary(self):
        pass

In [39]:
class employee(company):
    def info(self):
        print("employee name is aman")

    def salary(self):
        print("salary for employee is 20000")

In [40]:
e1=employee()
e1.salary()

salary for employee is 20000