In [1]:
# function
# variable length and keyword variable
def func(*x):
    print("x=> ",x)

In [2]:
func(10,20)
func()
func(2,43,5,3)

x=>  (10, 20)
x=>  ()
x=>  (2, 43, 5, 3)

In [4]:
def func(**x):  # keyword variable length argument
    print("x=> ",x)

In [6]:
func(age=23,salary=3444)
func()
func(age=13,salary=1000)

x=>  {'age': 23, 'salary': 3444}
x=>  {}
x=>  {'age': 13, 'salary': 1000}

In [9]:
def func(x):
    print("x=> ",x)
    return x+10

In [11]:
out= func(23)
print("out => ",out) ## without return function only print "None"

x=>  23
out =>  33

In [12]:
def func(x,y):
    print("x,y",x,y)
    c= x+y
    print("c",c)

In [13]:
out=func(15,25)
print(out)

x,y 15 25
c 40
None

In [14]:
# First class func

# if we can save a function into variable then it is first class function
# if function is return then fcf
# if func is stored in list,tuple,dict , so that also fsf
# # function as an argument

In [18]:
def func():
    print("Hello")

x=func
print("x",x,func)
x()
func()

x <function func at 0x0000024F46A14E00> <function func at 0x0000024F46A14E00>
Hello
Hello

In [22]:
def add_two(x,y):
    print(x+y)

def three_num(a,b):
    print("a=",a, "b=" ,b)
    
three_num(10, add_two(2,3))

5
a= 10 b= None

In [23]:
def add_two(x,y):
    return (x+y)

def three_num(a,b):
    print("a=",a, "b=" ,b)
    
three_num(10, add_two(2,3))

a= 10 b= 5

In [27]:
def add_two(x,y):
    return (x+y)

def three_num(a,b):
    print("a=",a, "b=" ,b, b(2,6))
    
three_num(10, add_two)

a= 10 b= <function add_two at 0x0000024F4774AA20> 8

In [28]:
# if we can pass a func as an argument to any function then it is high order fun
# sare high order func first class hote h 
# # but sare first class function high order nhi hote